<div class="coc7 chat-card" data-actor-key="{{actor.id}}" data-item-id="{{item.id}}">

    <header class="card-header flexcol">
        <div class="flexrow">
            <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
            <h3 class="item-name">{{item.name}}</h3>

            <div class="card-content">
                {{{item.system.description.value}}}
            </div>
        </div>
    </header>   
</div>

